/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
	text-align: center;
}

/* Your code starts here! */
/* ================================================================== */
*,
*:before,
*:after {
	box-sizing: inherit;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.container nav a {
	display: inline-block;
	color: grey;
	text-decoration: none;
	margin: 35px;
}

.container nav a:hover {
	text-decoration: underline;
}

.nav-img {
	margin-left: 50px;
	vertical-align: -10px;
}

.container header {
	margin: 20px;
}

nav {
	display: inline-block;
}

.header-content {
	vertical-align: top;
	width: 49%;
	/* margin: 0px; */
	display: inline-block;
}


.top-content div {
	width: 49%;
	/* margin: 0px; */
	display: inline-block;
	margin-left: 8px;
}

.middle-img {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	margin-top: 20px;
	margin-bottom: 30px;
}

.bottom-content div {
	width: 33%;
	/* margin: 0px; */
	display: inline-block;
}

p {
	line-height: 1.25;
	margin: 20px 0;
}


h1 {
	font-size: 70px;
	text-align: center;
	margin-top: 100px;
}

h2 {
	text-align: left;
}

button {
	font-size: 20px;
	border: 1px solid grey;

}

button {
	padding: 5px 40px 5px 40px;
	margin-left: 140px;
	margin-top: 10px;
}

button:hover {
	background-color: orange;
}

img {
	display: inline-block;
}

hr {
	margin-top: 100px;
	margin-bottom: 30px;
}

#hr-bottom {
	margin-top: 40px;
}

footer {
	text-align: center;
	margin-left: 50px;
	margin-bottom: 100px;
	margin-top: 50px;
}